@import url('https://fonts.googleapis.com/css2?family=poppinswght@700&display=swap');
*
{
   margin: 0;
   padding: 0;
    box-sizi1
   position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;

 }
 ol
 {
   position: relative;
   display: flex;
   align-items: center;
   gap: 200px;
   background: #fff;
   
   

  
}
ol span {
   list-style: none;
   


}
ol span a 
{
   position: relative;
   text-decoration: none;
   line-height: 1.5em;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #000000;

}
   .img 
   {
      position: relative;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
   }
 
   
  ol span a:hover
    {
     background-color: salmon;
   }
   